.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-area: header;
    background: $grey8;
    height: 80px;
    width: 100%;
    font-family: 'Red Rose', cursive;
    border-bottom: $grey3 1px solid;
    letter-spacing: 3px;
  
  }
.navigation {
    // display: flex;
    // justify-content: flex-end;  
  }
  
  .navigation__link {
    color:$grey1;
    margin-right: 20px;
    font-style: normal;
    text-decoration: unset;
  }