@import "~normalize.css";
@import "_variables";
@import "modules/header";
@import "modules/code-block";
@import "modules/article.scss";
@import "modules/css_examples.scss";
@import "modules/aside.scss";
@import "modules/header.scss";
@import "modules/hero.scss";
@import "modules/categories.scss";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;500&family=Red+Rose:wght@300;500;700&family=Saira+Condensed:wght@100;400;700&display=swap');


html {
  box-sizing: border-box;
  // font-family: 'Inconsolata', monospace;
  font-family: 'Red Rose', cursive;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// html {
//   background: $grey8;
//   display: flex;
//   justify-content: center;

// }
// .body {
//   background: $grey8;
//   color: #fff;
//   min-height: 100vh;
//   width: 1200px;
//   font-size: 120%;
  
// }

// .main {
//   display: grid;
//   grid-template-areas:
//     "header header"
//     "section aside";
//   grid-template-columns: 3fr 1fr;
//   column-gap: 10px;
//   row-gap: 10px;
//   font-family: 'Inconsolata', monospace;
  
// }

.article-section {
  background: $grey7;
  grid-area: section;
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  // row-gap: 10px;
}

.aside {
  grid-area: aside;
  // background: $grey7;
  font-family: 'Red Rose', cursive;
  
  
}

.aside_navigation {
  padding: 10%;
  background: $grey8;
  border-bottom: $grey3 1px solid;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;

}
